<meta http-equiv="refresh" content="2 ; url={{ path('produits') }}">


{% block body %}


<div class="example-wrapper">
    <p>Votre paiement à bien été effectué, vous allez être redirigé vers nos produits.</p>
</div>
{% endblock %}
